footer {
	height: 520px;
	@include bg-default;
}

.copyright {
	padding: 30px 0 50px 0; 
	a {
		font-family: "Roboto Condensed", sans-serif;
		font-size: 14px;
	}
}

// CLASSE MARGIN RIGHT
.mg-right {
	float: right;
}