nav {
	height: 60px;
	@include bg-default;
	.home {
		background: url(../img/icon-home.png) no-repeat 0 center;
		width: 50px;
		height: 59px;
		img {
			margin-left: 70px;
			margin-top: 18px;
			width: 204px;
			height: 23px;
			padding-bottom: 5px;
			@include transition;
			@include transition-smooth;
			&:hover {
				@include transform-zoom;
				@include opacity;
			}
		}
	}
	.nav {
		float: right;
		ul {
			list-style:none;
			margin-top: 17px;
			li {
				display: inline;
				margin-left: 16px;
			}
			a {
				background: rgb(98, 114, 124);
				border-radius: 13.5px;
				border: 1px solid rgba(255,255,255, 0.0);
				padding: 6px 18px;
				font-size: 12px;
				font-family: "Roboto Condensed", sans-serif;
				text-transform: uppercase;
				color: white;
				@include transition;
				&:hover {
					border: 1px solid rgba(255,255,255, 0.3);
					@include opacity;
				}
			}
		}
	}
}
.top-bar {
	height: 60px;
	background: white;
	.revista-marcas {
		ul {
			list-style: none;
			padding: 10px 0 0 0;
			li {
				display: inline;
			}
			img {
				transform: scale(.85);
				margin-right: 10px;
				@include transition;
				@include transition-smooth;
				&:hover {
					@include transform-zoom;
				}

			}
		}
	}
}
.vertical-center {
 display: table-cell;
 float: none;
 vertical-align: middle;
}