.slider {
	margin-top: -5px;
	ul {
		padding: 0;
		list-style: none;
		li{
			display: inline;
		}
	}
}

h1 .title {
	font-family: "Roboto Condensed", sans-serif;
	font-size: 38px;
	font-weight: 900;
	text-align: center;
}
.color-title {
	color: #c00d0e;
}


.newsletter {
	height: 256px;
	background-color: rgb(223, 223, 223);
}