/* Custom Mixins -------------------- */

@mixin bg-default {
    background-color: rgb(79, 97, 109);
}

@mixin opacity {
	opacity: 0.8;
}

@mixin transition-smooth {
	-webkit-transition: 0.3s all;
	-o-transition: 0.2s all;
	-moz-transition: 0.2s all;
	-ms-transition: 0.2s all;
	transition: 0.2s all
}

@mixin transition {
	transition: opacity .25s ease-in-out;
	-o-transition: opacity .25s ease-in-out;
	-ms-transition: opacity .25s ease-in-out;
	-moz-transition: opacity .25s ease-in-out;
	-webkit-transition: opacity .25s ease-in-out;
}

@mixin transform-zoom {
	-webkit-transform: scale(1.05, 1.05);
	-moz-transform: scale(1.05, 1.05);
	-ms-transform: scale(1.05, 1.05);
	-o-transform: scale(1.05, 1.05);
	transform: scale(1.05, 1.05);
}

@mixin translate {
	-webkit-transform: translate(5px,0);
	-moz-transform: translate(5px,0);
	-ms-transform: translate(5px,0);
	-o-transform: translate(5px,0);
	transform: translate(5px,0);
}