/* Main Sass File */
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700");
/* Base Styles -------------------- */
body {
  font-family: "Roboto Condensed", sans-serif; }

/* Custom Mixins -------------------- */
/* HIDDEN */
.hidden {
  display: none !important; }

a:before,
a:after {
  cursor: pointer;
  -webkit-transition: 0.3s all;
  -o-transition: 0.2s all;
  -moz-transition: 0.2s all;
  -ms-transition: 0.2s all;
  transition: 0.2s all; }

a {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -ms-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -ms-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-duration: 250ms;
  -moz-transition-duration: 250ms;
  -ms-transition-duration: 250ms;
  -o-transition-duration: 250ms;
  transition-duration: 250ms;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -ms-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
  text-decoration: none; }

a:hover {
  text-decoration: none; }

/* EFFECT SCALE*/
.effect-scale {
  transition: opacity .25s ease-in-out;
  -o-transition: opacity .25s ease-in-out;
  -ms-transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
  -webkit-transition: 0.3s all;
  -o-transition: 0.2s all;
  -moz-transition: 0.2s all;
  -ms-transition: 0.2s all;
  transition: 0.2s all; }
  .effect-scale:hover {
    -webkit-transform: scale(1.05, 1.05);
    -moz-transform: scale(1.05, 1.05);
    -ms-transform: scale(1.05, 1.05);
    -o-transform: scale(1.05, 1.05);
    transform: scale(1.05, 1.05); }

.txt-red {
  color: #e00506; }

.txt-bld {
  font-weight: bold; }

.txt-p {
  font-size: 20px; }

.txt-a {
  font-size: 17px;
  letter-spacing: -0.3px; }

.txt-space {
  letter-spacing: -0.35px; }

.bg-red {
  background-color: #e00506; }

.bg-gray {
  background-color: #4f616d; }

.mt-revistas {
  margin-bottom: 45px; }

@media (max-width: 768px) {
  .mb-revistas {
    margin-bottom: 45px; } }

.mybd {
  min-height: 200px;
  border: 1px solid #e9e9e9; }

/* HEADER */
.icon-home {
  background-image: url(../img/icon_seta.png);
  background-repeat: no-repeat;
  background-position: 70px 12px;
  height: 70px;
  width: 85px; }
  @media (max-width: 768px) {
    .icon-home {
      background-image: none; } }

@media (max-width: 368px) {
  a.navbar-brand.home {
    background: none; }
    a.navbar-brand.home img {
      margin-left: 0; } }

.navbar-light .navbar-toggler {
  color: rgba(255, 255, 255, 0.5) !important;
  border-color: rgba(255, 255, 255, 0.1) !important; }

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important; }

.navbar-nav {
  padding: 0;
  justify-content: center; }

nav {
  height: 60px;
  background-color: #4f616d; }
  @media (max-width: 768px) {
    nav {
      height: auto; } }
  nav .home {
    background: url(../img/icon_home.png) no-repeat 0 center;
    width: 50px;
    height: 59px; }
    nav .home img {
      margin-left: 70px;
      margin-top: 13px;
      width: 204px;
      height: 23px;
      padding-bottom: 5px;
      transition: opacity .25s ease-in-out;
      -o-transition: opacity .25s ease-in-out;
      -ms-transition: opacity .25s ease-in-out;
      -moz-transition: opacity .25s ease-in-out;
      -webkit-transition: opacity .25s ease-in-out;
      -webkit-transition: 0.3s all;
      -o-transition: 0.2s all;
      -moz-transition: 0.2s all;
      -ms-transition: 0.2s all;
      transition: 0.2s all; }
      nav .home img:hover {
        -webkit-transform: scale(1.05, 1.05);
        -moz-transform: scale(1.05, 1.05);
        -ms-transform: scale(1.05, 1.05);
        -o-transform: scale(1.05, 1.05);
        transform: scale(1.05, 1.05);
        opacity: 0.88; }
  nav ul {
    justify-content: space-between !important;
    padding: 0; }
    nav ul li a {
      background: rgba(255, 255, 255, 0.1);
      border-radius: 13.5px;
      padding: 6px 16px !important;
      font-size: 12px;
      color: white !important;
      border: 1px solid rgba(255, 255, 255, 0); }
      @media (max-width: 768px) {
        nav ul li a {
          margin-bottom: 10px; } }
      nav ul li a:hover {
        border: 1px solid rgba(255, 255, 255, 0.2);
        opacity: 0.88; }

.nav-footer {
  background-color: #4f616d; }
  .nav-footer .nav-desk {
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
    align-items: center;
    flex-direction: row; }
    @media (max-width: 768px) {
      .nav-footer .nav-desk {
        align-items: center;
        flex-direction: column; }
        .nav-footer .nav-desk div {
          padding-bottom: 20px; }
          .nav-footer .nav-desk div a {
            font-size: 1em; } }
    .nav-footer .nav-desk a {
      background: rgba(255, 255, 255, 0.1);
      border-radius: 13.5px;
      border: 1px solid rgba(255, 255, 255, 0);
      padding: 6px 18px;
      font-size: 12px;
      text-transform: uppercase;
      color: white;
      transition: opacity .25s ease-in-out;
      -o-transition: opacity .25s ease-in-out;
      -ms-transition: opacity .25s ease-in-out;
      -moz-transition: opacity .25s ease-in-out;
      -webkit-transition: opacity .25s ease-in-out; }
      @media (max-width: 1024px) {
        .nav-footer .nav-desk a {
          padding: 6px 12px; } }
      .nav-footer .nav-desk a:hover {
        border: 1px solid rgba(255, 255, 255, 0.2);
        opacity: 0.88; }

@media (max-width: 768px) {
  .nav-footer {
    height: auto;
    padding-bottom: 14px; } }

.top-bar {
  background: white;
  border-bottom: 1px solid #e7e7e7; }
  .top-bar .revista-marcas ul {
    padding: 0;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; }
    .top-bar .revista-marcas ul li {
      display: inline; }
    .top-bar .revista-marcas ul img {
      transform: scale(0.9);
      transition: opacity .25s ease-in-out;
      -o-transition: opacity .25s ease-in-out;
      -ms-transition: opacity .25s ease-in-out;
      -moz-transition: opacity .25s ease-in-out;
      -webkit-transition: opacity .25s ease-in-out;
      -webkit-transition: 0.3s all;
      -o-transition: 0.2s all;
      -moz-transition: 0.2s all;
      -ms-transition: 0.2s all;
      transition: 0.2s all; }
      .top-bar .revista-marcas ul img:hover {
        -webkit-transform: scale(1.05, 1.05);
        -moz-transform: scale(1.05, 1.05);
        -ms-transform: scale(1.05, 1.05);
        -o-transform: scale(1.05, 1.05);
        transform: scale(1.05, 1.05); }

.my-logos {
  display: flex; }

/* LAYOUT */
.carousel-indicators li {
  top: 12px;
  width: 14px;
  height: 14px;
  margin-right: 5px;
  margin-left: 5px;
  background-color: white;
  border-radius: 100px;
  border: 1px solid black;
  cursor: pointer; }

.carousel-indicators .active {
  background-color: black; }

.carousel-control-prev, .carousel-control-next {
  width: 5%;
  display: none; }

/* SLIDER */
.slide ul {
  padding: 0;
  margin-bottom: 0;
  list-style: none; }

.slide li {
  display: inline; }
  .slide li img {
    width: 100%; }

/* SHOW & HIDDEN IMAGES */
@media (max-width: 767px) {
  .img-desk {
    display: none !important; } }

@media (min-width: 767px) {
  .img-mob {
    display: none !important; } }

/* SHOW ITEM CENTER */
@media (max-width: 767px) {
  .item-center, .img-capas {
    display: flex !important;
    text-align: center;
    margin: 0 auto !important;
    width: 90%; } }

/* MARGIN TOP MOBILE */
@media (max-width: 768px) {
  .mg-top-mob {
    margin-top: 40px; } }

@media (max-width: 767px) {
  .mg-top-mob-txt {
    margin-top: 20px; } }

h1.title {
  font-weight: bold;
  background: url(../img/title_line.png) repeat-x center center;
  margin: 40px 0; }
  h1.title span.bg-title {
    background: white;
    padding: 0 20px;
    display: inline-block; }
  @media (max-width: 767px) {
    h1.title {
      font-size: 1.8em;
      text-align: center;
      background: none; } }

h2.title {
  font-size: 32px;
  font-weight: 100;
  letter-spacing: -1px; }

/* MAIN */
.assine-um h3 {
  font-size: 31px;
  line-height: 30px;
  letter-spacing: -1px; }
  @media (min-width: 767px) {
    .assine-um h3 {
      margin-top: 0;
      font-size: 1.6em;
      line-height: 1.2em; } }
  @media (max-width: 767px) {
    .assine-um h3 {
      margin-top: 30px;
      font-size: 1.6em;
      line-height: 1.2em;
      text-align: center; } }

@media (max-width: 767px) {
  .assine-um a {
    width: 90%;
    padding: 14px 10px; } }

@media (max-width: 767px) {
  .assine-um .text-mob-center {
    margin: 0 auto; } }

@media (max-width: 767px) {
  .assine-um h5 {
    text-align: center;
    line-height: 1.2em;
    padding: 0 40px; } }

.assine-um .hr-mob {
  display: flex;
  flex-direction: column;
  justify-content: flex-end; }
  @media (max-width: 767px) {
    .assine-um .hr-mob {
      background-image: url(../img/hr_mob.png);
      background-repeat: repeat-x;
      background-position: bottom;
      padding-bottom: 30px; } }

@media (max-width: 768px) {
  .assine-dois {
    display: flex; } }

@media (max-width: 768px) {
  .assine-dois img {
    margin-top: 30px;
    width: 270px;
    height: 175px; } }

.assine-dois .btn-picanto {
  flex-direction: column;
  align-items: flex-start;
  top: 14px;
  left: 14px; }
  @media (max-width: 768px) {
    .assine-dois .btn-picanto {
      padding: 0;
      top: 50px;
      left: 32px;
      bottom: -15px; } }

p.txt-p {
  margin-bottom: 0; }

p.txt-primeiro {
  margin-bottom: 12px;
  font-size: 1.2em; }

a.btn-assine {
  background-color: #4f616d;
  background-image: url(../img/seta.gif);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: contain;
  opacity: 1;
  display: inline-block;
  padding: 10px; }
  a.btn-assine:hover {
    opacity: 0.88; }
  @media (max-width: 767px) {
    a.btn-assine {
      width: 90%;
      padding: 14px 10px;
      text-align: center;
      margin: 0 auto;
      display: block; } }

img.kit-churras {
  margin-top: -40px;
  padding-bottom: 10px; }

/* SIDEBAR */
.block-side {
  width: 100%;
  height: 68px;
  background-color: transparent;
  background-image: url(../img/border_dotted.png);
  background-repeat: repeat-x;
  background-position: left 56px;
  position: absolute; }

.block-title {
  padding-top: 6px;
  height: 60px; }
  .block-title h4 {
    font-size: 19px; }

.block-content {
  padding: 0 20px;
  height: 125px;
  background-color: #dfdfdf; }
  .block-content h5 {
    font-size: 1.12em;
    color: #000000;
    letter-spacing: -0.02em; }
    @media (max-width: 1024px) {
      .block-content h5 {
        font-size: 0.9em; } }
    @media (max-width: 767px) {
      .block-content h5 {
        font-size: 1.3em; } }

/*NEWSLETTER*/
.newsletter {
  position: relative;
  padding: 30px 0 50px;
  background: #f5b642;
  height: 470px;
  background-color: #dfdfdf; }
  @media (max-width: 767px) {
    .newsletter h2 {
      font-size: 1.4em;
      padding: 0 40px; } }

.newsletter img {
  position: absolute;
  left: 0;
  bottom: 0;
  max-width: 100%; }

.newsletter .newsletter-frame {
  position: relative;
  height: 220px;
  overflow: hidden;
  z-index: 2; }

@media (min-width: 992px) {
  .newsletter {
    height: auto; }
  .newsletter .newsletter-frame {
    height: 100px; } }

/* FOOTER */
footer {
  min-height: 520px;
  background-color: #4f616d;
  border: none;
  outline: none; }

.block-footer h2 {
  border-bottom: 1px solid white; }

@media (max-width: 768px) {
  .block-footer img {
    margin-bottom: 40px; } }

@media (max-width: 768px) {
  .block-footer img.pagamentos {
    margin-bottom: 40px;
    width: 100%; } }

.copyright {
  padding: 30px 0 40px 0; }
  .copyright a {
    font-size: 14px; }
  @media (max-width: 768px) {
    .copyright span {
      font-size: .9em;
      text-align: center;
      display: block;
      padding-bottom: 8px; } }
  .copyright .ass-mob {
    align-items: center;
    flex-direction: column; }

.mg-right {
  float: right; }

/* MEDIA QUERIES */
ul.glide__track {
  padding: 0;
  margin: 0 0 20px 0; }

.owl-carousel .owl-item img {
  width: 80% !important; }
