/* Base Styles -------------------- */
body {
  font-family: "Roboto Condensed", sans-serif; }

/* Custom Mixins -------------------- */
a:before,
a:after {
  cursor: pointer;
  -webkit-transition: 0.3s all;
  -o-transition: 0.2s all;
  -moz-transition: 0.2s all;
  -ms-transition: 0.2s all;
  transition: 0.2s all; }

a {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -ms-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -ms-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-duration: 250ms;
  -moz-transition-duration: 250ms;
  -ms-transition-duration: 250ms;
  -o-transition-duration: 250ms;
  transition-duration: 250ms;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -ms-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
  text-decoration: none; }

a:hover {
  text-decoration: none; }

/* SCALE EFFECT */
.scale-effect {
  transition: opacity .25s ease-in-out;
  -o-transition: opacity .25s ease-in-out;
  -ms-transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
  -webkit-transition: 0.3s all;
  -o-transition: 0.2s all;
  -moz-transition: 0.2s all;
  -ms-transition: 0.2s all;
  transition: 0.2s all; }
  .scale-effect:hover {
    -webkit-transform: scale(1.05, 1.05);
    -moz-transform: scale(1.05, 1.05);
    -ms-transform: scale(1.05, 1.05);
    -o-transform: scale(1.05, 1.05);
    transform: scale(1.05, 1.05); }

.txt-red {
  color: #e00506; }

.txt-bld {
  font-weight: 900; }

.txt-p {
  font-size: 20px; }

.txt-a {
  font-size: 17px;
  letter-spacing: -0.3px; }

.txt-space {
  letter-spacing: -0.35px; }

.bg-red {
  background-color: #e00506; }

.bg-gray {
  background-color: #44626D; }

.mt-revistas {
  margin-top: 45px; }

.mybd {
  min-height: 200px;
  border: 1px solid #e9e9e9; }

/* HEADER */
nav {
  height: 60px;
  background-color: #44626D; }
  nav .home {
    background: url(../img/icon-home.png) no-repeat 0 center;
    width: 50px;
    height: 59px; }
    nav .home img {
      margin-left: 70px;
      margin-top: 18px;
      width: 204px;
      height: 23px;
      padding-bottom: 5px;
      transition: opacity .25s ease-in-out;
      -o-transition: opacity .25s ease-in-out;
      -ms-transition: opacity .25s ease-in-out;
      -moz-transition: opacity .25s ease-in-out;
      -webkit-transition: opacity .25s ease-in-out;
      -webkit-transition: 0.3s all;
      -o-transition: 0.2s all;
      -moz-transition: 0.2s all;
      -ms-transition: 0.2s all;
      transition: 0.2s all; }
      nav .home img:hover {
        -webkit-transform: scale(1.05, 1.05);
        -moz-transform: scale(1.05, 1.05);
        -ms-transform: scale(1.05, 1.05);
        -o-transform: scale(1.05, 1.05);
        transform: scale(1.05, 1.05);
        opacity: 0.88; }
  nav ul.nav-desk {
    float: right;
    list-style: none; }
    nav ul.nav-desk li {
      display: inline;
      margin-left: 16px; }
    nav ul.nav-desk a {
      background: #5B737F;
      border-radius: 13.5px;
      border: 1px solid rgba(255, 255, 255, 0);
      padding: 6px 18px;
      font-size: 12px;
      text-transform: uppercase;
      color: white;
      transition: opacity .25s ease-in-out;
      -o-transition: opacity .25s ease-in-out;
      -ms-transition: opacity .25s ease-in-out;
      -moz-transition: opacity .25s ease-in-out;
      -webkit-transition: opacity .25s ease-in-out; }
      nav ul.nav-desk a:hover {
        border: 1px solid rgba(255, 255, 255, 0.2);
        opacity: 0.88; }

.top-bar {
  background: white;
  border-bottom: 1px solid #e7e7e7; }
  .top-bar .revista-marcas ul {
    padding: 0;
    list-style: none;
    justify-content: space-between;
    align-items: center; }
    .top-bar .revista-marcas ul li {
      display: inline; }
    .top-bar .revista-marcas ul img {
      transform: scale(0.9);
      transition: opacity .25s ease-in-out;
      -o-transition: opacity .25s ease-in-out;
      -ms-transition: opacity .25s ease-in-out;
      -moz-transition: opacity .25s ease-in-out;
      -webkit-transition: opacity .25s ease-in-out;
      -webkit-transition: 0.3s all;
      -o-transition: 0.2s all;
      -moz-transition: 0.2s all;
      -ms-transition: 0.2s all;
      transition: 0.2s all; }
      .top-bar .revista-marcas ul img:hover {
        -webkit-transform: scale(1.05, 1.05);
        -moz-transform: scale(1.05, 1.05);
        -ms-transform: scale(1.05, 1.05);
        -o-transform: scale(1.05, 1.05);
        transform: scale(1.05, 1.05); }

/* LAYOUT */
.carousel-indicators li {
  top: 12px;
  width: 14px;
  height: 14px;
  margin-right: 5px;
  margin-left: 5px;
  background-color: white;
  border-radius: 100px;
  border: 1px solid black;
  cursor: pointer; }

.carousel-indicators .active {
  background-color: black; }

.carousel-control-prev, .carousel-control-next {
  width: 5%;
  display: none; }

.slider ul {
  padding: 0;
  margin-bottom: 0;
  list-style: none; }

.slider li {
  display: inline; }
  .slider li img {
    width: 100%; }

h1.title {
  font-size: 38px;
  font-weight: 900;
  background: url(../img/title_line.png) no-repeat center center;
  margin: 40px 0; }
  h1.title span.bg-title {
    background: white;
    padding: 0 30px; }

h2.title {
  font-size: 32px;
  font-weight: 100;
  letter-spacing: -1px; }

/* MAIN */
.assine-um h3 {
  font-size: 31px;
  line-height: 30px;
  letter-spacing: -1px; }

p.txt-p {
  margin-bottom: 13px; }

a.btn-assine {
  background-color: #44626D;
  background-image: url(../img/seta.gif);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: contain;
  opacity: 1;
  display: inline-block;
  padding: 10px; }
  a.btn-assine:hover {
    opacity: 0.88; }

img.kit-churras {
  margin-top: -40px; }

.newsletter {
  height: 256px;
  background-color: #dfdfdf; }

/* FOOTER */
footer {
  height: 520px;
  background-color: #44626D;
  border: none;
  outline: none; }

.copyright {
  padding: 30px 0 50px 0; }
  .copyright a {
    font-size: 14px; }

.mg-right {
  float: right; }
